# Игнорировать директорию libs
/libs/*

# Игнорировать директорию сборки
/build/
cmake-build-debug/

# Игнорировать файлы объектов и исполняемые файлы
*.o
*.out
*.exe
*.dll
*.so

# Игнорировать временные файлы CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Игнорировать файлы логов
*.log

# Игнорировать файлы резервных копий
*~

# Игнорировать файлы среды разработки (например, Visual Studio)
.vscode/
.idea/

# Игнорировать системные файлы
.DS_Store
Thumbs.db
